---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Novimebre 2019 - Actualmente...",
    title: "Apoyo computacional",
    company: "RisksConsulting",
    description:
      "Soporte técnico especializado, implementación y personalización de ERP, QA funcional, documentación de procesos, análisis y resolución de tickets de soporte.",
    //link: "https://twitch.tv/midudev",
  },
  
  {
    date: "Marzo 2018",
    title: "Pasante",
    company: "Procuraduría General Del Estado - Dirección General 1",
    description:
      "Administrador de bases de datos, responsable de la generación de informes y la gestión de permisos y audiencias en el sistema intranet PGE.",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
