---
const { href } = Astro.props
---

<a href={href} role="link" class="inline-flex items-center text-lg font-medium text-fuchsia-500 dark:text-fuchsia-200 dark:hover:text-fuchsia-300 hover:text-fuchsia-700">
  <slot />
</a>